html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.page-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    width: 600px;
    height: 600px;
}
